  
  body{
    background-image: url(recursos/49649245.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 75%;
    cursor: url(recursos/pincel_negro_mini.png), auto;

    /*CUIDADO CON EL TAMAÑO DE LA IMAGEN PARA CURSOR*/

    /* background-position: center;
    background-size: 90% ;
    bottom: 50%; */

  }
 

  .latas {
    position: absolute;
}


  .latas img {
    position: relative;
    bottom: 0;
    display: block;
    margin-left: 15%;
    margin-right: auto;
    width: auto;
  }


  

canvas {
 
  position: fixed;
  z-index: 2;
  top: 10%;
  left: 35%;
  width: 500px;
    height:500px;
    background-color: white;
    


    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
